$white-color: #fff;
$black-color: #000;

$text-color-1: #5f5f5f;
$text-color-2: #474747;
$text-color-3: #5f5f5f;
$text-color-4: #6f6c90;
$text-color-5: #232323;
$text-color-6: #969696;
$text-color-7: #6e6e6e;
$text-color-8: #6c6c6c;
$text-color-9: #bebebe;
$text-color-10: #8f8f8f;
$text-color-11: #03050b;
$text-color-12: #fcfcfc;
$text-color-13: #b8b8b8;
$text-color-14: #101828;
$text-color-15: #475467;
$text-color-16: #828282;

$border-color-1: #eee;
$border-color-2: #eff0f6;
$border-color-3: #d9d9d9;
$border-color-4: #e6e8e7;
$border-color-5: #181818;
$border-color-6: #d0d5dd;

$card-color-1: #f7f7f7;
$yellow-color-1: #ffe81d;

$purple-color-1: #6875d1;
$purple-color-2: #4f59a9;
$purple-color-3: #d9defd;
$purple-color-4: #060916;

$blue-color-1: #367aff;
$blue-color-2: #1c2258;
