header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .header__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 41px;
      object-fit: cover;
    }
    nav {
      display: flex;
      gap: 28px;
      a {
        text-decoration: none;
        color: $text-color-1;
      }
    }
    .header__auth {
      display: flex;
      gap: 10px;
      a {
        &:first-child {
          &:hover {
            border: 1px solid $black-color;
          }
        }
      }
    }
  }
}
