header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .header__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 41px;
      object-fit: cover;
    }
    nav {
      display: flex;
      gap: 28px;
      a {
        text-decoration: none;
        color: $text-color-1;
        font-size: 16px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
        transition: 0.4s;
      }
      .active-navigation {
        color: $purple-color-1;
      }
    }
    .header__auth {
      display: flex;
      gap: 10px;
      a {
        &:first-child {
          &:hover {
            border: 1px solid $black-color;
          }
        }
      }
    }
    .header__controls {
      display: flex;
      gap: 8px;
      span {
        cursor: pointer;
        width: 24px;
        height: 24px;
        padding: 12px;
        border-radius: 50%;
        transition: 0.4s;
        background-color: $card-color-1;
        &:last-child {
          background-color: $yellow-color-1;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
