#courses {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .courses__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    .courses__top {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .courses__header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h1 {
          font-size: 36px;
          font-style: normal;
          font-weight: 510;
          line-height: normal;
        }
        p {
          color: $text-color-3;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
    .courses__bottom {
      display: flex;
      .courses__cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: end;
        .courses__cards-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
          gap: 24px;
        }
        a {
          border: 1px solid $purple-color-1;
          color: $purple-color-1;
        }
      }
    }
    .active-container {
      gap: 24px;
    }
  }
}
