#jobs {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .jobs__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    .jobs__bottom {
      display: flex;
      .jobs__cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: end;
        .jobs__cards-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
          gap: 24px;
        }
        > button {
          border: 1px solid $purple-color-1;
          color: $purple-color-1;
          background-color: transparent;
        }
      }
    }
    .active-container {
      gap: 24px;
    }
  }
}
