#share-post {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .share-post__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 92px;
    .share-post__top {
      display: flex;
      gap: 28px;
      span {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $purple-color-1;
      }
      .share-post__header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
          font-size: 36px;
          font-style: normal;
          font-weight: 510;
        }
        p {
          color: $text-color-1;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
    .share-post__bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      button {
        margin-top: 72px;
        background-color: $purple-color-1;
        color: $white-color;
        border-color: $purple-color-1;
      }
    }
  }
}

.MuiPaper-root {
  ul {
    li {
      font-family: $primary-font !important;
    }
  }
}
