.auth__login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 106px;
  .auth__login-logo {
    display: flex;
    width: 100%;
    a {
      width: 133px;
      height: 86px;
      object-fit: cover;
    }
  }
  .auth__login-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    .auth__login-header {
      display: flex;
      flex-direction: column;
      gap: 12px;
      h1 {
        color: $text-color-5;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -1.6px;
      }
      p {
        color: $text-color-6;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      .MuiFormControl-root {
        margin-top: 20px;
        .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
          color: $purple-color-1;
        }
        .MuiInputBase-input,
        .MuiFormLabel-root {
          font-family: $primary-font;
        }
        label {
          background-color: $white-color;
          padding-right: 5px;
        }
        .Mui-focused {
          .MuiOutlinedInput-notchedOutline {
            border-color: $purple-color-1;
          }
        }
      }
      .auth__login-password {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        .password-show {
          cursor: pointer;
          top: 75%;
          transform: translateY(-75%);
          right: 20px;
          position: absolute;
          display: flex;
          justify-content: center;
          border: none;
          background-color: transparent;
          align-items: center;
        }
      }
      .auth__login-remember {
        margin: 20px 0 20px;
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $text-color-5;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          input {
            width: 18px;
            height: 18px;
          }
        }
      }
      button {
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        background-color: $yellow-color-1;
        border-color: $yellow-color-1;
      }
    }
    > p {
      margin-top: 20px;
      text-align: center;
      position: relative;
      color: $text-color-7;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $border-color-3;
        width: 45%;
        height: 2px;
      }
      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
    }
    > button {
      margin-top: 20px;
      font-weight: 600;
      font-size: 18px;
      width: 100%;
      border: 1px solid $border-color-4;
      background-color: transparent;
    }
    .auth__login-account {
      margin-top: 32px;
      display: flex;
      justify-content: center;
      gap: 5px;
      p {
        color: $text-color-8;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      a {
        color: $blue-color-1;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        text-decoration-line: underline;
      }
    }
  }
}
