.categories {
  background-color: $card-color-1;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  justify-content: start;
  gap: 48px;
  height: fit-content;
  width: 0;
  transition: 0.4s;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 6px;
  .categories__row {
    opacity: 0;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    gap: 24px;
    h1 {
      font-size: 20px;
      font-style: normal;
      font-weight: 510;
      line-height: normal;
    }
    .categories__options {
      display: flex;
      flex-direction: column;
      gap: 14px;
      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $border-color-5;
        input[type="checkbox"] {
          cursor: pointer;
          border-radius: 6px;
          background-color: $purple-color-3;
          appearance: none;
          width: 24px;
          height: 24px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 8.5px;
            width: 4px;
            height: 10px;
            border: 2.5px solid transparent;
            border-left: none;
            border-top: none;
            border-radius: 1px;
            transform: rotate(45deg) scale(1);
          }
          &:checked {
            &::before {
              border-color: $blue-color-2;
            }
          }
        }
      }
    }
  }
}

.active-categories {
  width: 30%;
  padding: 32px 49px 32px 32px;
  .categories__row {
    opacity: 1;
  }
}
