.error-message {
  text-align: center;
}

.error-validation {
  width: fit-content;
  display: grid;
  grid-template-columns: 20px 1fr;
  color: $red-color-1;
  place-items: center;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    text-align: start;
    line-height: 1.2rem;
  }
}
