.testimonial__card {
  border-radius: 12px;
  width: 392px;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  background-color: $card-color-1;
  .testimonial__card-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid $border-color-1;
    p {
      color: $text-color-3;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .testimonial__card-user {
      display: flex;
      align-items: center;
      gap: 12px;
      img {
        width: 42px;
        height: 42px;
        object-fit: cover;
      }
      h1 {
        color: $black-color;
        font-size: 16px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
      }
    }
  }
  .testimonial__card-bottom {
    padding-top: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    span {
      background-color: $purple-color-1;
      padding: 6px;
      border-radius: 50%;
      width: 27px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      color: $purple-color-2;
    }
  }
}
