// TODO --------- ABSTRACTS ---------
@import "./sass/abstracts/colors";

// TODO --------- BASE ---------
@import "./sass/base/reset";
@import "./sass/base/typography";

// TODO --------- COMPONENTS ---------
@import "./sass/components/serviceCard";
@import "./sass/components/testimonialCard";
@import "./sass/components/authLogin";
@import "./sass/components/authRegister";
@import "./sass/components/searchResults";
@import "./sass/components/card";
@import "./sass/components/categories";

// TODO --------- LAYOUT ---------
@import "./sass/layout/footer";
@import "./sass/layout/header";

// TODO --------- PAGES ---------
@import "./sass/pages/home";
@import "./sass/pages/login";
@import "./sass/pages/register";
@import "./sass/pages/courses";
